## 분류
### **서비스 이탈예측 데이터**

In [1]:
import pandas as pd
x_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv')
x_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv')

display(x_train.head())
display(y_train.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

In [2]:
print(x_train.info())
print(x_train.nunique())
print(x_train.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB
None
CustomerId         6499
Surname            2289
CreditScore         459
Geography             3
Gender                4
Age                  69
Tenure               11
Balance            4162
NumOfProducts         4
HasCrCard             2
IsActiveMember        2
EstimatedSalary    6499
dtype: int64
Index(['CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age',
       'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary'],
      dtype='object')

In [13]:
#식별의 기준이 되는 컬럼 삭제
drop_col = ['CustomerId','Surname'] 
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)

# import sklearn
# print(sklearn.__all__)
# import sklearn.model_selection
# print(dir(sklearn.model_selection))

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# object 타입의 경우 범주형 변수이기 때문에, 더미 변수로 변환해야한다.
x_train_dummies = pd.get_dummies(x_train_drop)
y = y_train['Exited']
x_test_dummies = pd.get_dummies(x_test_drop)

# train과 컬럼 순서 동일하게 하기 (만약 오류나면 해당 컬럼이 누락)
x_test_dummies = x_test_dummies[x_train_dummies.columns]
# print(help(train_test_split))
X_train, X_validation , Y_train, Y_validation = train_test_split(x_train_dummies,y, test_size = 0.33, random_state=42)
rf = RandomForestClassifier(random_state = 23)
rf.fit(X_train,Y_train)

# import sklearn.metrics
# print(dir(sklearn.metrics))

from sklearn.metrics import accuracy_score , f1_score, recall_score, roc_auc_score , precision_score

#model score_예측 레이블, 예측 확률 계산
predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:,1]

predict_validation_label = rf.predict(X_validation)
predict_validation_prob = rf.predict_proba(X_validation)[:,1]

# 문제에서 묻는것에 따라 모델 성능 확인하기
# 정확도 , f1_score , recall, precision -> model.predict로 결과 뽑기
# auc, 확률이라는 표현이 있으면 model.predict_proba로 결과뽑고 첫번째 행의 값을 가져오기 model.predict_proba()[:,1]

print('train accuracy :', accuracy_score(Y_train,predict_train_label))
print('validation accuracy :', accuracy_score(Y_validation,predict_validation_label))
print('\n')
print('train f1_score :', f1_score(Y_train,predict_train_label))
print('validation f1_score :', f1_score(Y_validation,predict_validation_label))
print('\n')
print('train recall_score :', recall_score(Y_train,predict_train_label))
print('validaiton recall_score :', recall_score(Y_validation, predict_validation_label))
print('\n')
print('train precision_score :' , precision_score(Y_train,predict_train_label))
print('validation precision_score :' , precision_score(Y_validation, predict_validation_label))
print('\n')
print('train auc :', roc_auc_score(Y_train,predict_train_proba))
print('validation auc :', roc_auc_score(Y_validation, predict_validation_prob))

train accuracy : 1.0
validation accuracy : 0.8652680652680653


train f1_score : 1.0
validation f1_score : 0.5912305516265912


train recall_score : 1.0
validaiton recall_score : 0.4543478260869565


train precision_score : 1.0
validation precision_score : 0.8461538461538461


train auc : 1.0
validation auc : 0.8497613211198555